extends ../../layouts/default.pug
include ../../mixins/panigation.pug 

block main
  .container-fluid.mt-4
    .d-flex.justify-content-between.align-items-center.mb-3
      h2.mb-0 Danh sách tài khoản
      form(method="GET", action="", class="d-flex")
        input.form-control.me-2(type="text", name="search", value=search || '', placeholder="Tìm kiếm..")
        button.btn.btn-outline-secondary(type="submit")
          i.fas.fa-search
      form(method="GET", action=`${prefixAdmin}/accounts`, class="d-flex align-items-center")
        select.form-select(name="role", onchange="this.form.submit()")
          option(value="") -- Tất cả --
          option(value="user", selected=roleFillter === "user") Người dùng - user
          option(value="admin", selected=roleFillter === "admin") Admin
          option(value="seller", selected=roleFillter === "seller") Seller
          option(value="order-staff", selected=roleFillter === "order-staff") Order-staff
      a.btn.btn-dark(href=`${prefixAdmin}/accounts/create`)
        i.fas.fa-plus.me-1
        | Thêm tài khoản
    table.table.table-striped.table-hover.align-middle
      thead.table-dark
        tr
          th(scope="col") ID
          th(scope="col") Họ tên
          th(scope="col") Email
          th(scope="col") SĐT
          th(scope="col") Quyền
          th(scope="col") Trạng thái
          th(scope="col") Ngày tạo
          th(scope="col") Thao tác
      tbody
        each account in accounts
          tr
            td #{account.id}
            td #{account.fullname}
            td #{account.email}
            td #{account.phone}
            td 
              span.badge.bg-danger.text-uppercase #{account.role}
            td 
              if account.status === 'active'
                span.badge.bg-success Kích hoạt
              else
                span.badge.bg-warning.text-dark Chưa kích hoạt
            td #{new Date(account.createdAt).toLocaleDateString("vi-VN")}
            td.d-flex.align-items-center
              a.btn.btn-sm.btn-outline-primary(href=`/admin/accounts/detail/${account.id}`) 
                i.fas.fa-pen-to-square
              form(method="POST", action=`${prefixAdmin}/accounts/delete/${account.id}?_method=DELETE`, class="d-flex align-items-center")
                button.btn.btn-sm.btn-outline-danger.ms-2(onclick="return confirm('Xác nhận xóa tài khoản?')") 
                  i.fas.fa-trash
  
    +panigation(objectPanigation)

block script
  script(src="/js/account.js")
