doctype html
html
  head
    title #{title}
    block css
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap",
      rel="stylesheet"
    )
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet", href="/css/style.css")

  body
    
    include ../partials/header.pug
    //- Flash message (hiển thị toàn cục)
    .flash-container
      if error_msg.length
        each err in error_msg
          .alert.alert-danger.alert-flash
            | #{err}
            span.ml-3(style="cursor:pointer; font-weight:bold;" onclick="this.parentElement.remove()") &times;

      if success_msg.length
        each msg in success_msg
          .alert.alert-success.alert-flash
            | #{msg}
            span.ml-3(style="cursor:pointer; font-weight:bold;" onclick="this.parentElement.remove()") &times;



    block main

    include ../partials/footer.pug

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")  
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js") 
    script(src="/js/script.js")
    block script 