extends ../../layouts/default.pug

block main
  .container.mt-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        .card.shadow-lg.rounded-4.border-0
          .card-body.p-4
            h2.text-center.mb-4.text-dark Đặt lại mật khẩu

            form(action="/users/password/reset", method="POST")
              // Mật khẩu mới
              .mb-3
                label.form-label(for="password") Mật khẩu mới
                .input-group
                  span.input-group-text.bg-white.rounded-start-pill
                    i.fas.fa-lock
                  input.form-control.border-start-0.rounded-end-pill(
                    type="password", 
                    name="password", 
                    id="password",
                    password
                    placeholder="Nhập mật khẩu mới", 
                    required
                  )
                  span.input-group-text.bg-white.rounded-end-pill(view-password)
                    i.fas.fa-eye-slash

              // Xác nhận mật khẩu
              .mb-3
                label.form-label(for="confirmPassword") Xác nhận mật khẩu
                .input-group
                  span.input-group-text.bg-white.rounded-start-pill
                    i.fas.fa-lock
                  input.form-control.border-start-0.rounded-end-pill(
                    type="password", 
                    name="confirmPassword", 
                    id="confirmPassword", 
                    placeholder="Nhập lại mật khẩu", 
                    required
                  )
                  span.input-group-text.bg-white.rounded-end-pill(view-password-confirm)
                    i.fas.fa-eye-slash

              button.btn.btn-dark.w-100.rounded-pill.mt-3(type="submit")
                i.fas.fa-sync-alt.me-2
                | Đặt lại mật khẩu

              .text-center.mt-3
                a.text-decoration-none.text-muted(href="/users/login")
                  i.fas.fa-arrow-left.me-1
                  | Quay lại trang đăng nhập
  block script 
  script(src="/js/user.js") 